body {
  background-color: #fff;
  cursor: grab;
}

body.grabbed {
  cursor: grabbing;
}

a {
  cursor: pointer;
}

.controls {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  display: flex;
  gap: 4px;
  padding: 16px;
  flex-direction: column;
}

.search {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  gap: 4px;
  padding: 16px;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.highlight {
  stroke: crimson;
  stroke-width: 2px;
}

#matches-count {
  color: #24292E;
  margin-left: 4px;
}

.graph-content {
  padding: 100px 24px;
}

.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.search-input {
  cursor: text;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.search-input:focus {
  border-color: black;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

#simpleToast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(19, 148, 73);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-family: monospace;
  display: inline-flex;
  line-hight: 12px
}
#simpleToast span {
  margin-left: 12px;
  margin-top: 2px;
}

#simpleToast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
